body {
    background: rgb(249, 248, 248);
}

.redonda {
    width: 250px;
    height: 250px;
}
.contenedor {
    height: 240px;
    padding: 15px;
    width: 1400px;
}
.imagen {
    width: 700px;
    height: 400px;
   }
.container{
    width: 700px;
    margin: auto;
}
.fondo {
    background-color: white;
}