<div>
    <h1>Portfolio</h1>
    <p>A continuacion visualizara una serie de fotos con descripciones las cuales salen de 3 en 3 y no son parecidas
        entre ellas A continuacion visualizara una serie de fotos con descripciones las cuales salen de 3 en 3 y no
        son
        parecidas entre ellas A continuacion visualizara una serie de fotos con descripciones las cuales salen de 3
        en 3
        y no son parecidas entre ellas</p>
</div>
<div>
    <div class="row justify-content-center mx-auto">
        <div class="col-4 Portfolio">
            <img src="https://www.olivos-araujo.com/images/folivos/ol_400_700_files/Photos/TA-%20004%20(web).jpg">
            <h3>Proyect Name</h3>
            <p>en este caso arriba visualizara una imagen solo en este caso arriba visualizara una imagen solo
                en
                este
                caso arriba visualizara una imagen solo en este caso arriba visualizara una imagen solo </p>
        </div>
        <div class="col-4 Portfolio">
            <img src="https://www.olivos-araujo.com/images/folivos/ol_400_700_files/Photos/TA-%20004%20(web).jpg">
            <h3>Proyect Name</h3>
            <p>en este caso arriba visualizara una imagen solo en este caso arriba visualizara una imagen solo
                en
                este
                caso arriba visualizara una imagen solo en este caso arriba visualizara una imagen solo </p>
        </div>
        <div class="col-4 Portfolio">
            <img src="https://www.olivos-araujo.com/images/folivos/ol_400_700_files/Photos/TA-%20004%20(web).jpg">
            <h3>Proyect Name</h3>
            <p>en este caso arriba visualizara una imagen solo en este caso arriba visualizara una imagen solo
                en
                este
                caso arriba visualizara una imagen solo en este caso arriba visualizara una imagen solo </p>
        </div>
    </div>
</div>