<!-- your html code here -->
<div class="row p-4 justify-content-center">
    <div class="col-3 pe-4">
        <img src="./assets/img/2.jpg" alt="foto" class="rounded-circle redonda">
    </div>
    <div class="col-9 ps-2">
        <h2 class="fw-bolder"> The Second Heading <span class="text-secondary">Is Pretty Your Eye</span> </h2>
        <p class="fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab officiis natus accusamus dolores blanditiis
            dolorum totam asperiores, expedita consectetur consequuntur atque quibusdam laudantium debitis sunt fuga
            facere voluptatum sequi cum.
        </p>
    </div>
</div>